.title {
	color: blue;
	font-family: Segoe UI;
}
.menuitem {
	border: 2px solid rgba(153, 144, 144, 0.3);
	border-radius: 5px;
	background-color: rgba(153, 144, 144, 0.3);
	cursor: pointer;
	padding: 10px;
	height: auto;
	width: 200px;
	margin: 4px;
}
.menuitem:hover {
	background-color: rgba(43, 88, 194, 0.5)
}
.menuitem:first-child {
	font-weight: bold;
	background-color: rgb(87, 145, 230);
}
.menuitem:first-child:hover {
	background-color: rgb(48, 122, 230);
}
.menulist {
	margin: 10px;
	padding: 0px;
	list-style-type: none;
}